ul{
    list-style-type: none;
    padding: 0;
    width: 50%;
}

li{
    margin: 0;
}

div{
    background-color: aquamarine;
    border: 1px solid red;
}

.task{
    display: flex;
    justify-content: space-between;
}