*{
    font-family: "Montserrat", serif;
    background-color: #4A628A;
    color: white;

}

.openingContent{
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.openingContent h2{
    font-size: 3rem;
    margin: 10px 0px;
}

input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid white;
    margin: 20px 0px;
}


.styleSubmitBtn {
    border: 1px solid white;
    color: white;
    padding: 3px;
    border-radius: 5px;
    margin-left: 10px;
}