*{
    font-family: "Montserrat", serif;
    background-color: #4A628A;
    color: white;

}

#mainContent{
    display: flex;
}

#taskBlock{
    margin: 20px;
    width: 50%;
}

#listOfTasks{
    margin: 20px;
    width: 50%;

}

#createBtn{
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
}

.taskBlockStyle{
    display: flex;
    flex-direction: column;
}

.taskInputBlock{
    border: 1px solid white;
    margin: 10px 0px;
    border-radius: 20px;
    padding:10px 20px;
    outline: none;
    border:none property
}

.taskBlockDescription{
    border: 1px solid white;
    margin: 10px 0px;
    border-radius: 10px;
    padding:10px 20px;
    resize: vertical; 
    min-height: 200px;
    outline: none;
    border:none property
}


button{
    width: 25%;
    border: 1px solid white;
    color: white;
}


/* List of tasks CSS */

#listOfTasks{
    list-style-type: none;
}

.taskRow{
    display: flex;
    justify-content: space-between;
}


.task{
    background-color: aqua;
}

ul{
    padding: 0;
    margin: 10px;
}